.todoForm{
    .todoInput{
        width: 90%;
        margin-left:20px;
    }
    .todoSubmit{
        margin-left:20px;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 500;   
    }
}